# .env.production
DEBUG=False
SECRET_KEY=your-secret-key
REDIS_URL=redis://redis:6379
SECRET_TOKEN=admin2026ai

# LLM 配置
LLM_BASE_URL=http://host.docker.internal:11434

# Neo4j 配置
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=12345678

# 工程存储 配置
DATA_PATH=/data/data
CHROMA_PATH=/data/chroma_db
TEMP_OPATH=/data/temp
MEMORY_PATH=/data/memory
MEMORY_DB=/data/memory/memory.db
TOKEN_PATH=/data/memory/clawbot_token.json
QRCODE_STATUS_PATH=/data/memory/clawbot_qrcode_status.json
GRAPH_FILE_PATH=/data/main_graph_flow.png

# SKILL 配置
SKILL_PATH=~/.hermes/skills

# 代码保护方式 Cython | Pyarmor | Hybrid | None
PROTECT_CODE=None