langgraph==0.2.45
langchain==0.3.7
llama-index==0.10.65
llama-index-llms-ollama==0.1.5
llama-index-embeddings-ollama==0.9.0
llama-index-vector-stores-chroma==0.1.8
chromadb==0.5.15
py2neo==2021.2.4
streamlit==1.40.0
whisper==1.1.10
edge-tts==6.1.12
requests==2.32.3
python-dotenv==1.0.1
pydantic==2.9.2
pillow==10.4.0
aiohttp
asyncio
flux_local
datetime
neo4j-graphrag